@import url('normalize.css');
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}

html,
body{
    height: 100%;
}

  ul, ol {
  	list-style: none;
  	padding: 0;
  	margin: 0;
  }

  a {
  	display: inline-block;
  	text-decoration: none;
  	color: inherit;
    }
  img {
  	width: 100%;
  }
	h1, h2, h3{
		color: #F95543;
		font-family: 'Montserrat 800', sans-serif;
		font-weight: 800;
	}
	p{
		color: #353535;
		font-family: 'Montserrat 400', sans-serif;
		font-weight: 400;
	}
	html, body{
		height: 100%;
	}
	.btn_busqueda:hover {
    color: #fff;
    background-color: #F95543;
    border-color: #F95543;
		}
		.btn_busqueda:focus {
    box-shadow: 0 0 0 0.2rem #F95543;
}
		.btn_busqueda:active:focus,
		.btn_busqueda:active {
			color: #fff;
			background-color: #F95543!important;
			border-color: #F95543!important;
			box-shadow: 0 0 0 0.2rem #F95543!important;
			}
	.container{
    width: 95%;
    margin: auto;
    }

	.recepcion{
		align-self: center;
		background-image: url(../img/manos_home.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 60vh;
		max-height: 950px;
		color: white;
		font-weight: bold;
		position: relative;
		display: inline-flex;
	}
	.titulo_recepcion{
		/* font-family: 'Montserrat 800', sans-serif; */
    /* max-width: 44%; */
    position: absolute;
    /* top: 30vh; */
    /* bottom: 10vh; */
    font-size: 2.5em;
    /* color: #F95543; */
    /* font-weight: 800; */
    margin: 10% 57% 0% 5%;
    text-shadow: 2px 2px 4px white;
    /* bottom: 1px; */
	}
	@media (max-width: 600px){
		.titulo_recepcion{
			bottom: 15vh;
			margin: 0% 5% 0% 5%;
		}}

.mapa-google{
	width: 100%;
	position: absolute;
	align-self: center;
	position: relative;
}
.mapa{
	width: 100%;
	position: relative;
}
.caracteristicas{
	/* width: 100%; */
	justify-content: space-between;
	margin:0;
}
.carac{
	display: inline-block;
	/* margin: 10px; */
	text-align: center;
	padding: 15px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.25);
	transition: transform 300ms, box-shadow 300ms;
}
.carac:hover{
	box-shadow: 0 15px 70px rgba(0, 0, 0, 2.5);
}
.titulo_estadistica{
	font-size: 3.5em;

}
.estadisticas{
	margin: 0;
	justify-content: center;
}
.estad{
	margin: 1%;
	display: inline-block;

	/* margin: 10px; */
	text-align: center;
	box-shadow: 0 5px 20px rgba(0,0,0,0.25);
	transition: transform 300ms, box-shadow 300ms;
}

	box-shadow: 0 15px 30px rgba(67, 74, 83, 2.5);
}
.estad:hover{
	/* transform: scale(1.1); */
	box-shadow: 0 15px 30px rgba(67, 74, 83, 2.5);
}
* {
	font-family: 'Montserrat', sans-serif;

}
.links_footer{
	font-weight: normal;
}
