@import url('normalize.css');
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}

html,
body {
    height: 100%;
}

  ul, ol {
  	list-style: none;
  	padding: 0;
  	margin: 0;
  }

  a {
  	display: inline-block;
  	text-decoration: none;
  	color: inherit;
    }
  img {
  	width: 100%;
  }
	.logo_JM{
		width: 80px;
    height: 70px;
    margin-left: 20px;
	}
	.btn_busqueda{
		border-color:#F95543;
	}
  .container{
    width: 95%;
		margin: auto;
		margin-bottom: 20px;
		}
		h1{
			text-align: center;
		}
button{
			text-decoration: none;
		}
.btn-preg-faq{
	color: #F95543;

}
.btn-preg-faq:hover{
	color: #F95543;
	font-weight: bold;
}
