@import url('normalize.com');
@import url('bootstrap-grid.min');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
	box-sizing: border-box;
}

.a_btn  {
	text-decoration: none;
	font-family: 'Montserrat 400', sans-serif;
	color: rgb(255, 255, 255);
	padding: 10px;
	border-radius: 30px;
	background: linear-gradient(135deg, rgb(247,85,77) 0%,rgb(242,104,46) 51%,rgb(206,53,104) 99%);

}

html,
body {
    height: 100%;
}

body {
		font-family: 'Montserrat 400', sans-serif;
    color: #353535;
		text-align: center;
}

p {
	font-family: 'Montserrat 400', sans-serif;
  font-size: 1em;
	color:#353535;
}


h2 {
	font-family: 'Montserrat 800', sans-serif;
  font-size: 2em;
	color: #F95543;
}


.form_container {
  input width: 100%;
  border-radius: 5px;
}
.formlogin{
	min-height: 50vh;
	margin-top: 10vh;
}
.formregistro{
	text-align: center;
	min-height: 50vh;
	margin-top: 10vh;
}
.textoform{
	min-width: 130px;
}
.profile_pic {
width: 15%;
height: 15%;
margin-top: 20px;
}
.profile_container{
	width: 95%;
	margin: auto;
	min-height: 50vh;
	margin-top: 05px;
}
.donacion{
	margin-top: 10vh;
}

.container {
  margin: 20px;
}
