    /* -------------------------MISC------------------------- */
* {
  font-family:'Montserrat',sans-serif;
  box-sizing:border-box;
}

a {
  text-decoration:none;
  display:inline-block;
  color:inherit;
  font-family:'Montserrat 400',sans-serif;
}

body, html{
  min-height: 100vh;
  position: relative;
}

a:hover {
  text-decoration:none!important;
  color:inherit!important;
}

/* body {
  padding-bottom: 130px;
} */

button {
  text-decoration:none;
}

ol,ul {
  list-style:none;
  padding:0;
  margin:0;
}

img {
  width:100%;
  color: linear-gradient(135deg,#f7554d 0,#f2682e 51%,#ce3568 99%);
}

h1 {
  font-family:'Montserrat 800',sans-serif;
  color:#f95543;
  font-weight:800;
  font-size: 2em;
}

h2 {
  font-family:'Montserrat 800',sans-serif;
  font-size:1.5em;
  color:#f95543;
  font-weight:800 ;
}

h3 {
  font-family:'Montserrat 800',sans-serif;
  margin-top:50px;
  font-weight:800;
  color:#f95543;
  font-size: 0.8em;
}

p {
  font-family:'Montserrat 400',sans-serif;
  font-size:1em;
  color:#353535;
}

footer {
  height:130px;
  width:100%;
  background-color:#f5e7de;
  color:#e85151;
  position:absolute;
  bottom:0;
}

.a_btn {
  text-decoration:none;
  font-family:'Montserrat 400',sans-serif;
  color:#fff;
  padding:10px;
  border-radius:20px;
  background:linear-gradient(135deg,#f7554d 0,#f2682e 51%,#ce3568 99%);
}

.btn {
  color:#e85151;
}


.contacto a {
  color:#e85151;
  padding-left:15px;
  padding-right:15px;
  text-decoration:none;
}

.container {
  width:95%;
  margin:auto;
  padding: 5% 1% 20% 1%;
}


.container_producto{
  margin-top: 10%;
  margin-bottom: 20%;
  padding: 5%;
}

.img_prod {
  /* margin: auto; */
  padding: 20%;
}

.prod_desc {
  margin-top: 5px;
  padding: 10%;
}

.fa {
  font-size:2em;
  text-decoration:none;
  text-align:center;
}
.textoform {
  min-width:130px;
}

.location{
  width: 100% !important;
  height: calc(1.5em + .75rem + 2px)!important;
}

.logo_JM {
  width:40%;
  height:25%;
  margin-left:20px;
}

.recepcion {
  align-self: auto;
  background-image:url(../img/manos_home.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  width: 100%;
  height: 100vh;
  max-height:950px;
  color:#fff;
  font-weight:800;
  position:relative;
  z-index: 50;
  display:inline-flex;
  text-align:center;
  vertical-align:middle;
  margin-top: -115px;
}

.titulo_recepcion {
  position:absolute;
  font-size:2.5em;
  margin:20% 60% 10% 10%;
}



  /* -------------------------Navbar------------------------- */

.navbar {
  background-color:transparent !important;
  padding:1% 0;
  font-size:1.2em;
  position: sticky;
  z-index: 100;
}

.navbar-nav a {
  color:#e85151;
}

.navbar_rec {
  background-color: #f5e7de;
  height:100px;
  width:100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav-link {
  background-color: #f5e7de;
}

.nav-link:hover {
  color:linear-gradient(135deg,#f7554d 0,#f2682e 51%,#ce3568 99%);
}

  /* -------------------------INDEX------------------------- */

.caracteristicas {
  justify-content:space-between;
  margin:0;
}

.carac {
  display:inline-block;
  text-align:center;
  padding:15px;
  box-shadow:0 5px 20px rgba(0,0,0,.25);
  transition:transform .3s,box-shadow .3s;
}

.carac:hover {
  box-shadow:0 15px 70px rgba(0,0,0,2.5);
}

.estadisticas {
  margin:0;
  justify-content:center;
}

.estad {
  margin:1%;
  display:inline-block;
  text-align:center;
  box-shadow:0 5px 20px rgba(0,0,0,.25);
  transition:transform .3s,box-shadow .3s;
}
.titulo_estadistica {
  font-size:3.5em;
}

.mapa-google {
  width:100%;
  position:absolute;
  align-self:;
  position:relative;
}

.mapa {
  width:100%;
  position:relative;
}


    /* -------------------------Signup------------------------- */

.formregistro {
  min-height:50vh;
  margin-top:10vh;
}

.formsignup {
  margin-top:20px;
}

    /* -------------------------Profile------------------------- */

.donacion {
  margin-top:10vh;
}

.profile_pic {
  width: 50%;
  /* height: 30%; */
  margin-top: 20px;
  margin-left: 25%;
  }

.profile_container {
  width:95%;
  margin:auto;
  min-height:50vh;
  margin-top:5px;
}

/* -------------------------FAQ------------------------- */

.btn-preg-faq {
  color:#f95543 }

  .btn-preg-faq:hover {
    color:#f95543;
    font-weight:700 }

/* -------------------------Catalogo------------------------- */

.hr-1 {
  border:none;
  border-left:2px solid;
  height:100vh;
  width:1px;
  margin-left:100%;
}

.imagenes-catalogo {
    width:100%;
    margin: 5px;
  }

    /* -------------------------Contacto------------------------- */

.contact {
  width:70%;
  min-height:50vh;
  margin:auto;
  margin-top:10vh;
  text-align:center;
}

    /* -------------------------Footer------------------------- */

.bordes {
  border-left:2px solid #e85151;
  border-right:2px solid #e85151;
}

.logofoot {
  margin-top:8%;
  height:50%;
  width:15%;
}

.social a {
  color:#e85151;
  margin-top:30px;
  padding:5px;
  display:inline-flex;
  justify-content:center;
  height:10%;
}

}


@media (min-width: 575px) {
  .titulo_recepcion {
    /* bottom:15vh; */
    margin:20% 60% 10% 10%};

  .container_producto{
    margin-top: 5%;
    margin-bottom: 20%;
    padding: 4%;}
  }



  @media (min-width: 900px) {
    .titulo_recepcion {
      /* bottom:15vh; */
      margin:20% 60% 10% 10% };

    .container_producto{
      margin-top: 0%;
      margin-bottom: 40%;
      padding: 5%;}
    }
