@import url('normalize.com');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

	}

.a_btn  {
	text-decoration: none;
	font-family: 'Montserrat 400', sans-serif;
	color: rgb(255, 255, 255);
	padding: 10px;
	border-radius: 30px;
	background: linear-gradient(135deg, rgb(247,85,77) 0%,rgb(242,104,46) 51%,rgb(206,53,104) 99%);
}


body {
		font-family: 'Montserrat 400', sans-serif;
}

p {
	font-family: 'Montserrat 400', sans-serif;
	color:#353535;
}


h1 h2 {
	font-family: 'Montserrat 800', sans-serif;
	color: #F95543;
}

.nav-link:hover {
  color: linear-gradient(135deg, rgb(247,85,77) 0%,rgb(242,104,46) 51%,rgb(206,53,104) 99%);
}
.logo_JM{
	width: 80px;
	height: 70px;
	margin-left: 20px;
}


.navbar{
  background-color: #EBCCB6;
  padding: 1% 0;
  font-size: 1.2em;
}

.navbar-nav a{
  color: rgb(232, 81, 81);
}
.btn_busqueda{
	border-color:#F95543;
}

.recepcion{
	background-image: url(../manos-juntas.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* background-color: lightblue; */
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 400px;
	color: white;
	font-weight: bold;
}


.btn{
	color: rgb(232, 81, 81);
}

footer{
	height: 130px;
  width: 100%;
  background-color: #EBCCB6;
  color: rgb(232, 81, 81);
	border-radius: 60% 60% 0 0;
}


.social a{
  color: rgb(232, 81, 81);
	margin-top: 30px;
	padding: 5px;
	display: inline-flex;
	justify-content: center;
}

.contacto a{
	color: rgb(232, 81, 81);
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}

h3{
	margin-top: 50px;
}

.bordes{
	border-left: 2px solid rgb(232, 81, 81);
	border-right: 2px solid rgb(232, 81, 81);
}

.logofoot{
	margin-top: 5%;
	height: 80px;
	width: 80px;
}

.contact{
	margin-left: 20px;
	margin-top: 20px;
	width: 70%;
}

.fa{
	font-size: 50px;
	text-decoration: none;
	text-align: center;
}

.formlogin {
	text-align: center;
	margin-top: 20px;
}

.formsignup{
	text-align: center;
	margin-top: 20px;
}
