@import "normalize.css";
/* al pedo el normalize, boostrap ya tiene el suyo */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Sans+Pro:400,600');
@import url('http://allfont.net/allfont.css?fonts=star-jedi');
/* no funca el import de star jedi. uso font face */
@font-face {
	font-family: 'Star Jedi';
	src: url('fonts/starjedi_allfont_net.woff2') format('woff2');
	font-weight: normal;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');






a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
	font-family: 'Montserrat 400', sans-serif;
}

p{
	font-family: 'Montserrat 400', sans-serif;
}

h1, h2 , h3{
	font-family: 'Montserrat 800', sans-serif;
}

*{
  box-sizing: border-box;
}

/* para que se vean las columnas  */
[class*=col-]{
	/* border: dotted 1px green;   */
}
/* para que se vean las columnas */

/* tamaños de columnas en bootstrap:
0 -> 575 : col-XX
575 -> 767 : col-sm-XX
768 -> 991 : col-md-XX
992 -> 1200 : col-lg-XX
1201 -> ... : col-xl-XX */

ul, ol{
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li:hover {
 background:black;
}

img{
  width: 100%;
}

/* reseteo  */

.container-prueba {
  /* border: dashed 3px black; */
}

/* temporal */

.container-general{
	/* border: solid 1px brown; */
}

.hr-1{
    border:         none;
    border-left:    2px solid;
    height:         100vh;
    width:          1px;
		margin-left: 100%;
}

.container-filtros{
  /* border: solid 3px black; */
}

.container-productos{
  /* border: solid 3px black; */
}

.carac{
	display: inline-block;
	/* margin: 10px; */
	text-align: center;
	padding: 15px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.25);
	transition: transform 300ms, box-shadow 300ms;
}
.carac:hover{
	box-shadow: 0 15px 70px rgba(0, 0, 0, 2.5);
}
